body {
  margin:0;
  padding-top: 60px;
  padding-right:100px;
  background-color:cadetblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.conatiner{
  padding: 10%;
}
.heading{
  color: whitesmoke;
  text-shadow: lightgrey;
  font-size: 50px;

  /*transition: all 1s;*/
}
.finall{
  font-size: 60px;
}
.container{
  padding: 20px;
  text-align: center;

}
.containers{
  margin-left:15%;
  /* text-align: center; */
}
.zeus{
  width: 55%;
  text-align: center;
  font-size: xx-large;
  padding:40px;
  margin-left: 25%;
}

.listing{
  display: inline-block;
  width: 70%;
  text-align: right;
  font-size: xx-large;
  /* border:solid lightblue ; */
  
  /* margin-left:15%; */
  
}
.collection-item{
  border:solid lightblue;
  border-radius: 25%;
  text-align: center;
  margin-left: 30%;
  padding:5px;
  margin: 20px;
}
.icons{
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-top: 0px;
  align-self: center;
}
.buttons{
  color: aliceblue;
  border-radius: 100%;
  vertical-align: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* text-decoration-color: aqua; */
  background: url(./delete.png);
}
.newones{
  font-size: 30px;
}
.inputtype
{
  width: 20%;
  height: 40px;
  border-radius: 20px;
  border-color: lightskyblue;
  background-color:wheat;
  font-size: 20px;
}
